<a href="https://colab.research.google.com/github/marvin1998/QM206./blob/master/Copia_de_Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Nicotina=open("NIcotina.mol", "r")
datos=Nicotina.read().split("\n")
nombre=datos[0]
x=datos[3]
print(datos)
print(x)
nAtomos=int(x[0:3])
print(nAtomos)
nEnlaces=int(x[4:6])
print(nEnlaces)

for i in range (0,nAtomos):
   atomo=datos[i+4]
   x=atomo[4:10]
   y=atomo[14:20]
   simb=atomo[31:33]
   print(x,y,simb)
for i in range(0,nEnlaces):
  enlaces=datos[i+4+nAtomos]
  n1=int(enlaces[1:3])
  n2=int(enlaces[4:6])
  tipo=int(enlaces[7:9])
  print(n1,n2,tipo)

['Nicotine, ID: C23950041\r', '  NIST    19090417562D 1   1.00000     0.00000      \r', 'Copyright by the U.S. Sec. Commerce on behalf of U.S.A. All rights reserved.\r', ' 12 13  0     0  0              1 V2000\r', '    1.6717    2.0770    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    0.8612    1.5704    0.0000 N   0  0  0  0  0  0           0  0  0\r', '    1.6717    3.0901    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    2.5836    1.5704    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    0.8612    3.5967    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    0.0000    3.0901    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    0.0000    2.0770    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    3.3941    0.9625    0.0000 N   0  0  0  0  0  0           0  0  0\r', '    4.2046    1.5704    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    3.3941    0.0000    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    3.9007    2.5329    0.0000 C   0  0  0  0  0  0           0  0  0\r', '    2.8875    2.5329    0.0000 C   0  0  0  0  0  0           0  0  0\r', '  1  2  2  0     0  0\r', '  3  1  1  0     0  0\r', '  1  4  1  0     0  0\r', '  2  7  1  0     0  0\r', '  5  3  2  0     0  0\r', '  8  4  1  0     0  0\r', '  4 12  1  0     0  0\r', '  6  5  1  0     0  0\r', '  7  6  2  0     0  0\r', '  9  8  1  0     0  0\r', '  8 10  1  0     0  0\r', ' 11  9  1  0     0  0\r', ' 12 11  1  0     0  0\r', 'M  END\r', '']
 12 13  0     0  0              1 V2000
12
13
('1.6717', '2.0770', 'C ')
('0.8612', '1.5704', 'N ')
('1.6717', '3.0901', 'C ')
('2.5836', '1.5704', 'C ')
('0.8612', '3.5967', 'C ')
('0.0000', '3.0901', 'C ')
('0.0000', '2.0770', 'C ')
('3.3941', '0.9625', 'N ')
('4.2046', '1.5704', 'C ')
('3.3941', '0.0000', 'C ')
('3.9007', '2.5329', 'C ')
('2.8875', '2.5329', 'C ')
(1, 2, 2)
(3, 1, 1)
(1, 4, 1)
(2, 7, 1)
(5, 3, 2)
(8, 4, 1)
(4, 12, 1)
(6, 5, 1)
(7, 6, 2)
(9, 8, 1)
(8, 10, 1)
(11, 9, 1)
(12, 11, 1)